<div class="app-login main-content">
  <span><%= form_tag '/auth/identity/callback' do %></span>
  <div class="demo-card-wide login-card mdl-card mdl-shadow--2dp">
    <div class="container-box ma-10 pa-10">
      <div class="mdl-textfield mdl-js-textfield ma-10 field mdl-textfield--floating-label">
        <%= label_tag :auth_key, 'E-mail', class: 'mdl-textfield__label label-field' %>
        <%= text_field_tag :auth_key, '', class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield ma-10 field mdl-textfield--floating-label">
        <%= label_tag :password, 'Senha', class: 'mdl-textfield__label label-field', for: 'password3' %>
        <%= text_field_tag :password, '', class: 'mdl-textfield__input', type: 'password' %>
      </div>
      <div class= "link-buttons-group container ma-10 pa-10">
        <%= submit_tag 'Acessar', type: 'submit', data: { disable_with: false }, class: 'w-100 mv-10 app-btn mdl-button mdl-js-button  mdl-button--colored mdl-button--raised mdl-js-ripple-effect' %>
        <%= link_to '/auth/facebook/', class: 'w-100 mv-10 app-btn facebook-btn mdl-button mdl-js-button  mdl-button--raised mdl-js-ripple-effect' do %>
          <%= image_tag('fb-icon.png', class: 'facebook-icon app-icon' ) %>
          Login com Facebook
        <% end %>
        <%= link_to '/auth/google_oauth2/', class: 'w-100 mv-10 app-btn google-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' do %>
          <%= image_tag('gp-icon.png', class: 'google-icon app-icon') %>
          Login com Google+
        <% end %>
        <%= link_to 'Registrar-se', '/signup', class: 'w-100 mv-10 purple-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
      </div>
    </div>
  </div>
<% end %>
</div>
