<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button container">
  <%= render "header-desktop" %>
  <%= render "header-phone" %>
  <main class="mdl-grid">
    <%= render "hero-message-desktop" %>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
      <%= image_tag "ilustra-landing.svg", { id: "main-illustration" } %>
    </div>
    <%= render "hero-message-phone" %>
    <%= render "features-message-desktop" %>
    <%= render "features-message-phone" %>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
      <div class="features-images">
        <%= image_tag "Features-1.svg", { id: "first-illustration" } %>
        <%= image_tag "Features-2.svg", { id: "second-illustration" } %>
        <%= image_tag "Features-3.svg", { id: "third-illustration" } %>
      </div>
    </div>
      <%= render "form-message" %>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
      <%= image_tag "ilustra-form.svg", { id: "form-illustration" } %>
    </div>
  </main>
</div>