<%= render "header-desktop" %>
<%= render "header-phone" %>
<main class="mdl-grid landing-container__desktop">
  <%= render "hero-message-desktop" %>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
    <%= image_tag "ilustra-landing.svg", { id: "main-illustration" } %>
  </div>
  <%= render "hero-message-phone" %>
  <%= render "features" %>
  <%= render "price" %>
  <%= render "form" %>
</main>
<%= render 'shared/footer' %>