<header>
  <nav class="mdl-navigation">
    <div class="menu">
      <span class="material-icons">
        <%= link_to "account_circle", "" %>
      </span>
      <span class="material-icons">
        <%= link_to "settings", "" %>
      </span>
      <button id="demo-menu-lower-right" 
        class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right">
        <li class="mdl-menu__item">
          <a><%= link_to "Página Inicial", home_path %></a>
        </li>
        <li class="mdl-menu__item">
          <a><%= link_to "Perfil", user_path(current_user.id) %></a>
        </li>
        <li class="mdl-menu__item">
          <a><%= link_to "Listas de Notas de Corretagem", statement_files_path %></a>
        </li>
        <li class="mdl-menu__item">
          <a><%= link_to "Adicionar Notas de Corretagem", new_statement_file_path %></a>
        </li>
        <li class="mdl-menu__item">
          <a><%= link_to "Logout", logout_path %></a>
        </li>
    </ul>
  </nav>
<header>