<div>
  <fieldset>
    <%= form_with(model: statement, local: true) do |form| %>
    <div class="mdl-textfield mdl-js-textfield statement-field field ma-10 mdl-textfield--floating-label">
      <%= form.date_field :statement_date, class: 'mdl-textfield__input' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield statement-field field ma-10 mdl-textfield--floating-label">
      <%= form.label 'Número', class: 'mdl-textfield__label', for: 'number' %>
      <%= form.text_field :number, class: 'mdl-textfield__input', type: 'number', maxlength: '15' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield statement-field field ma-10 mdl-textfield--floating-label">
      <%= form.label 'Ativo', class: 'mdl-textfield__label', for: 'text' %>
      <%= form.text_field :ticker, class: 'mdl-textfield__input', type: 'text' %>
    </div>
    <div>
      <h6><%= form.label 'Compra/Venda' %></h6>
      <label class="mdl-checkbox mdl-js-checkbox statement-field field ma-10 mdl-js-ripple-effect" for="checkbox-1">
        <%= form.radio_button :direction, 0, class: 'mdl-checkbox__input', type:'checkbox', id: 'checkbox-1' %>Compra
        <span class="mdl-checkbox__label"></span>
      </label>
      <label class="mdl-checkbox mdl-js-checkbox statement-field field ma-10 mdl-js-ripple-effect" for="checkbox-2">
        <%= form.radio_button :direction, 1, class: 'mdl-checkbox__input', type:'checkbox', id: 'checkbox-2'%>Venda
        <span class="mdl-checkbox__label"></span>
      </label>
    </div>
     <div class="mdl-textfield mdl-js-textfield statement-field field ma-10 mdl-textfield--floating-label">
      <%= form.label 'Quantidade' , class: 'mdl-textfield__label', for: 'number' %>
      <%= form.text_field :quantity, class: 'mdl-textfield__input', type: 'nember' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield statement-field field ma-10 mdl-textfield--floating-label">
      <%= form.label 'Preço' , class: 'mdl-textfield__label' %>
      <%= form.number_field :price, step: :any, class: 'mdl-textfield__input' %>
    </div>
    <br>
    <div class="nested-fields-wrapper">
      <div class="nested-container"></div>
      <div class="buttons-group">
        <%= link_to_add_fields "Adicionar negócio", form, :trades, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored ma-10' %>
      <div class="actions">
        <%= form.submit 'Criar declaração', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored ma-10' %>
      </div>
      </div>
    </div>
  </fieldset>
    <table class="mdl-data-table mdl-js-data-table ma-10 mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>C/V</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td class="date-data"></td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--icon table-button">
            <i class="material-icons table-item"></i>
          </button>
        </td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--icon table-button">
            <i class="material-icons table-item"></i>
          </button>
        </td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--icon table-button">
            <i class="material-icons table-item"><%= link_to "delete" %></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
