<%= form_with(model: statement, local: true) do |form| %>
  <div class="field">
    <%= form.label 'Data' %>
    <%= form.date_field :statement_date %>
  </div>

  <div class="field">
    <%= form.label 'Número' %>
    <%= form.text_field :number, maxlength: '15' %>
  </div>

  <%= link_to_add_fields "Add Trade", form, :trades %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>