<p id="notice"><%= notice %></p>

<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone ma-40">
  <h1 class="mdl-typography--display-1 ma-10">Listagem das Notas de Corretagem</h1>
  <button class="mdl-button mdl-js-button add-file ma-10 mdl-button--raised mdl-button--colored">
    <%= link_to 'New Statement', new_statement_path %>
  </button>
  <table class="mdl-data-table mdl-js-data-table ma-10 mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Statement file</th>
        <th class="date">Statement date</th>
        <th>Brokerage</th>
        <th>File</th>
        <th>View File</th>
        <th>Edit File</th>
        <th>Destroy File</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @statements.each do |statement| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= statement.statement_file_id %></td>
          <td class="date-data"><%= statement.statement_date.to_date %>
          <td><%= statement.brokerage_account_id %></td>
          <% if statement.statement_file %>
          <td>
            <% else %>
              <td>sem anexo</td>
            <% end %>
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-button--icon table-button">
              <i class="material-icons table-item"><%= link_to 'visibility', statement %></i>
            </button>
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-button--icon table-button">
              <i class="material-icons table-item"><%= link_to 'get_app', edit_statement_path(statement) %></i>
            </button>
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-button--icon table-button">
              <i class="material-icons table-item"><%= link_to 'delete', statement, method: :delete, data: { confirm: 'Are you sure?' } %> %></i>
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>