    <div class="app">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer">
              <div class="mdl-cell mdl-cell--4-col md1-cell--6-col-tablet">
                <h5>Notas de Corretagem</h5>
              </div>
            </div>
          <nav class="mdl-navigation hide-cell">
            <div class="material-icons mdl-badge mdl-badge--overlap">settings</div>
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="4">notifications_active</div>
            <div class="material-icons mdl-badge mdl-badge--overlap"><a><%= link_to "account_box", "/logout" %></a></div>
          </nav>
        </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Menu</span>
          <nav class="mdl-navigation">
            <a href="#" class="mdl-navigation__link">Dashboard</a>
            <a href="#" class="mdl-navigation__link">Perfil</a>
            <a href="#" class="mdl-navigation__link">Notas de Corretagem</a>
        </nav>
        </div>
        <div class="mdl-layout__content">
          <main>
            <form><%= form_with model: StatementFile, method: :post, local: true do |f| %>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell-12-col md1-cell--6-col-tablet">
                <div class="button-group">
                    <div class="mdl-grid">
                      <span class="material-icons"><%= link_to 'undo', statement_files_path %></span>
                      <span class="material-icons btn_attach_file"><%= f.file_field :attach_file, accept: '.pdf' %></span>
                      <span class="material-icons btn_upload_file"><%= f.submit 'Carregar arquivo' %></span>
                    </div>
                  </div>
                </div>
                <% end %>
              </form>
            </main>
            <footer class="mdl-mini-footer">
              <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Nome da empresa</div>
                <ul class="mdl-mini-footer__link-list">
                  <li><a href="#">Contato</a></li>
                  <li><a href="#">Ajuda</a></li>
                </ul>
              </div>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript" defer>

    const fields = document.querySelectorAll("button-group")
    </script>

