<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone ma-40 nested-fields">
  <h1 class="mdl-typography--display-1 ma-10">
    Cadastro de nova Conta
  </h1>
  <fieldset>
    <%= form_with(model: account, local: true) do |form| %>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :name, 'Nome Completo', class: 'mdl-textfield__label', for: 'name' %>
        <%= form.text_field :name, class: 'mdl-textfield__input', minLength: '3', maxLength: '150' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :document, 'CPF/CNPJ', class: 'mdl-textfield__label', for: 'document' %>
        <%= form.text_field :document, class: 'mdl-textfield__input', pattern: "([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" %>
        <span class="mdl-textfield__error">Insira um número válido separado ou não por caracteres.</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield address-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :address, 'Endereço/Número/Bairro', class: 'mdl-textfield__label', for: 'address' %>
        <%= form.text_field :address, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :address_complement, 'Complemento', class: 'mdl-textfield__label', for: 'address_complement' %>
        <%= form.text_field :address_complement, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :city, 'Cidade', class: 'mdl-textfield__label', for: 'city' %>
        <%= form.text_field :city, class: 'mdl-textfield__input' %>
      </div> 
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :state, 'Estado', class: 'mdl-textfield__label', for: 'state' %>
        <%= form.text_field :state, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :country, 'País', class: 'mdl-textfield__label', for: 'country' %>
        <%= form.text_field :country, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :zipcode, 'CEP', class: 'mdl-textfield__label', for: 'zipcode' %>
        <%= form.text_field :zipcode, class: 'mdl-textfield__input' %>
      </div> 
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :phone_personal, 'Telefone Pessoal', class: 'mdl-textfield__label', for: 'phone_personal' %>
        <%= form.text_field :phone_personal, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :phone_business, 'Telefone Corporativo', class: 'mdl-textfield__label', for: 'phone_business' %>
        <%= form.text_field :phone_business, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :phone_mobile, 'Telefone Móvel', class: 'mdl-textfield__label', for: 'phone_mobile' %>
        <%= form.text_field :phone_mobile, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield account-field field ma-10 mdl-textfield--floating-label">
        <%= label_tag :status, 'Status', class: 'mdl-textfield__label', for: 'status' %>
        <%= form.text_field :status, class: 'mdl-textfield__input' %>
      </div>
      <div class="actions">
        <% !@account.id.nil? ? button_text = 'Salvar Alterações' : button_text = 'Salvar Conta' %>
        <%= form.submit button_text, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored ma-10' %>
      </div>
    <% end %>
  </fieldset>
</div>
