<h1>Accounts</h1>
<table>
  <thead>
    <tr>
      <th>Account id</th>
      <th>Name</th>
      <th>Document</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.name %></td>
        <td><%= account.document %></td>
        <td><%= account.status %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Account', new_account_path %>
